<%= turbo_stream_from "transactions" %>
<%= turbo_frame_tag "transactions" do %>
  <table>
    <thead>
    <tr>
      <th>Date</th>
      <th>Title</th>
      <th>Amount</th>
      <th>Category</th>
    </tr>
    </thead>
    <tbody>
    <% transactions.each do |transaction| %>
      <tr>
        <td>
          <%= transaction.date.to_fs(:long) %>
        </td>
        <td>
          <%= highlight(transaction.title, params[:search]) %>
        </td>
        <td>
          <%= number_to_currency(transaction.amount) %>
        </td>
        <td>
          <%= transaction.category %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>